MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/veyra?retryWrites=true&w=majority
MONGO_URI=${MONGODB_URI}
ESEWA_SECRET_KEY=
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_BASE_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
KHALTI_SECRET_KEY=
NEXT_PUBLIC_KHALTI_PUBLIC_KEY=
KHALTI_CHECKOUT_URL=https://pay.khalti.com
PAYMENT_WEBHOOK_SECRET=
SMTP_USER=
SMTP_PASSWORD=
ADMIN_EMAIL=admin@veyra.com
ADMIN_PASSWORD=Admin@12345
NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBu4-U7nZ0GAMT_OQVSvs9xsU7gt9mN1Pk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=veyra-np.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=veyra-np
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=veyra-np.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=280582224883
NEXT_PUBLIC_FIREBASE_APP_ID=1:280582224883:web:3db4d0ebcf1251f76d7086
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-DQC76EG7D2
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"your-project-id","private_key_id":"","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"your-service-account@your-project.iam.gserviceaccount.com","client_id":"","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/your-service-account%40your-project.iam.gserviceaccount.com"}
